.popup-container__edit-form {
  max-width: 430px;
  height: 330px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .popup-container__edit-form {
    max-width: 282px;
  }
}
